@font-face {
    font-family: "Mistermanch";
    src: url("fonts/Mistermanch-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2c3e50;
  font-family: "Mistermanch", Arial, sans-serif;
}

.book {
  width: 800px;
  height: 500px;
}

.page {
  background: #fff;
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 30px;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
